<ul class="flex gap-x-7 text-sm justify-center">
	<li class="light-clickable">
		<a href="/{{locale}}/imprint">{{ 'impressum' | i18n }}</a>
	</li>
	<li class="light-clickable"><a href="/de">DE</a></li>
	<li class="light-clickable"><a href="/en">EN</a></li>
</ul>