
<nav class="flex my-3 mb-7 gap-3" role="navigation" aria-label="main navigation">
  <h1 class="text-xl grow font-bold my-3">
      {{ title }}
  </h1>
  <ul class="flex text-xl items-center">
    <li id="toggle-color-theme" class="light clickable button">
      <i class="ri-moon-fill dark:hidden block"></i>
      <i class="ri-sun-fill hidden dark:block"></i>
    </li>
    <li id="toggle-language-button" class="light clickable button">
      <i class="ri-translate-2"></i>
    </li>

  </ul>
  <div class="flex justify-self-end top-0 z-10">
    <button id="menu-button" class="js relative justify-end md:hidden z-10" aria-label="Menu Button">
      <div class="flex flex-col justify-between w-[1.5rem] h-[1.5rem] transform transition-all duration-300 origin-center">
        <div class="bg-zinc-800 dark:bg-zinc-200 h-[3px] w-1/2 rounded transform transition-all duration-300 origin-right delay-75"></div>
        <div class="bg-zinc-800 dark:bg-zinc-200 h-[1px] rounded"></div>
        <div class="bg-zinc-800 dark:bg-zinc-200 h-[3px] w-1/2 rounded self-end transform transition-all duration-300 origin-left delay-75"></div>
      </div>
    </button>
    <ul class="menu text-xl md:text-base gap-y-7 items-center flex-col md:flex-row md:divide-y-0 absolute justify-center md:justify-end md:relative top-0 right-0 h-full w-full bg-teal-400 dark:bg-teal-600 md:bg-inherit md:dark:bg-inherit ">
      {%for text, link in [['about', ''], ['projects', '/projects']] %}
        {% if (link === '' and ((page.url === ["/", locale] | join) or (page.url === ["/", locale, "/"] | join))) or (link in page.url and link != '')  %}
          <li>
            <span class="relative underline font-bold underline-offset-2 p-2">{{ text | i18n }}</span>
          </li>
        {% else %}
          <li class="">
            <a href="/{{ locale }}{{ link }}" class="relative hover:underline hover:font-bold focus:underline focus:font-bold underline-offset-2 p-2">
              {{ text | i18n }}
            </a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</nav>