@import "tailwindcss";
@import "./font.css";
@config "./tailwind.config.js";

:root {
    font-family: "Source Code Pro", ui-monospace, monospace;
    @apply bg-zinc-100 text-zinc-800;
    @apply dark:bg-zinc-800 dark:text-zinc-200;
    @apply leading-relaxed;
}

body {
    @apply min-h-screen flex flex-col;
}

#app {
    @apply contents;
}

main {
    @apply px-1 md:px-7 lg:px-11;
    @apply mx-auto;
}

header {
    @apply print:hidden;
}

footer {
    @apply w-full mt-7 print:hidden;
}

h1 {
    @apply text-3xl font-bold;
    @apply mt-11 mb-5;
}

h2 {
    @apply text-2xl font-bold;
    @apply mt-11 mb-3;
}

h3 {
    @apply text-xl font-bold;
    @apply mt-7 mb-2;
}

h4 {
    @apply text-lg font-bold;
    @apply mt-7 mb-1;
}

a.link {
    @apply text-teal-800 dark:text-teal-300;
}

a.link:hover,
a.link:focus {
    @apply underline;
}

.border {
    @apply border-2 dark:border-zinc-500 border-zinc-300;
}

small {
    @apply text-sm;
}

/**
 * Markdown styles
 */

.markdown {
    @apply hyphens-auto;
}

.markdown a {
    @apply text-teal-800 dark:text-teal-200 transition-colors duration-200 border-b-2 border-dotted border-teal-600 dark:border-teal-400;
}

.markdown a:hover,
.markdown a:focus,
.markdown a:focus-visible {
    @apply underline underline-offset-4 ring-2 ring-offset-2 ring-teal-300 dark:ring-teal-500;
}

.markdown p {
    @apply mt-1 mb-3;
}

.markdown ul {
    @apply list-disc ml-7;
}

.markdown ol {
    @apply list-decimal ml-7;
}
.markdown li {
    @apply mt-1;
}

.markdown pre {
    @apply bg-zinc-50 dark:bg-zinc-900 py-5 rounded-md overflow-auto relative px-7;
}

.markdown pre code {
    @apply font-mono text-sm bg-zinc-50 dark:bg-zinc-900;
    display: block;
}

.markdown pre code span {
    display: block;
    counter-increment: linenumber;
    position: relative;
}

.markdown pre code span::before {
    content: counter(linenumber);
    position: absolute;
    left: -2.5em;
    width: 2em;
    text-align: right;
    color: #6b7280;
}

.markdown table {
    @apply w-full mt-4 mb-4 border-collapse;
}

.markdown th,
.markdown td {
    @apply border border-zinc-300 dark:border-zinc-500 p-2;
}

.markdown img {
    @apply max-w-full h-auto my-4;
}

.markdown hr {
    @apply my-11 border-t border-zinc-300 dark:border-zinc-500;
}

.social-icon {
    @apply cursor-pointer border-2 hover:text-teal-600 dark:hover:text-teal-500 border-hidden focus:border-teal-600 focus:border-dotted;
}

blockquote {
    @apply border-l-4 border-teal-300 dark:border-teal-700 italic ml-1 mr-7 py-3 px-7 max-w-md;
}

blockquote p {
    display: inline;
}

/**
 * Buttons
 */
.light {
    @apply text-zinc-600 dark:text-zinc-400;
}

.button {
    @apply p-2;
}

.light.clickable {
    @apply hover:text-zinc-800 focus:text-zinc-800 dark:hover:text-zinc-200 dark:focus:text-zinc-200  cursor-pointer;
}
