/* Regular Weight */
@font-face {
    font-family: "Source Code Pro";
    src: url("/fonts/source-code-pro/subset-SourceCodePro-Regular.woff2")
        format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* @font-face {
    font-family: "Source Code Pro";
    src: url("/fonts/source-code-pro/SourceCodePro-ExtraLight.otf.woff2")
        format("woff2");
    font-weight: lighter;
    font-style: normal;
} */

/* Bold Weight */
@font-face {
    font-family: "Source Code Pro";
    src: url("/fonts/source-code-pro/subset-SourceCodePro-Semibold.woff2")
        format("woff2");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

/* Italic Style */
@font-face {
    font-family: "Source Code Pro";
    src: url("/fonts/source-code-pro/subset-SourceCodePro-It.woff2")
        format("woff2");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

/* @font-face {
    font-family: "Source Code Pro";
    src: url("/fonts/source-code-pro/SourceCodePro-ExtraLightIt.otf.woff2")
        format("woff2");
    font-weight: lighter;
    font-style: italic;
} */

/* Bold Italic Style */
@font-face {
    font-family: "Source Code Pro";
    src: url("/fonts/source-code-pro/subset-SourceCodePro-SemiboldIt.woff2")
        format("woff2");
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

/* @font-face {
    font-family: "Source Code Pro";
    src: url("/fonts/source-code-pro/SourceCodePro-BoldIt.otf.woff2")
        format("woff2");
    font-weight: bolder;
    font-style: italic;
    font-display: swap;
} */
