---
socials:
  - name: GitHub
    icon: github-fill
    link: https://github.com/CordlessWool
  - name: Stack Overflow
    icon: stack-overflow-fill
    link: https://stackoverflow.com/users/6565711/cordlesswool
  - name: LinkedIn
    icon: linkedin-box-fill
    link: https://www.linkedin.com/in/wolfgang-rathgeb/
layout: layouts/base.njk
---

<section class="grid grid-cols-2 grid-flow-row mb-7 items-start justify-around">
  <h2
    class="typewriter md:m-10 md:ml-0 sm:mt-18 my-3 hyphens-auto min-h-36"
    data-typewriter-text="{{ descriptions | join(typewriter.separator) }}"
    data-typewriter-separator="{{ typewriter.separator }}"
  >{{ description }}</h2>

  <div class="justify-self-center self-center row-span-2">
    <img class="rounded-full w-80 border-4 shadow-lg shadow-zinc-400 border-teal-500 border-solid" eleventy:widths="200,300,500" sizes="400em, 600em, 100vw" src="{{ image }}" alt=" {{ alt }}" />
  </div>
  <ul class="flex flex-row gap-4  sm:col-auto">
    {% for social in socials %}
    <li title="{{ social.name }}" class="social-icon">
      <a href="{{ social.link }}" aria-label="{{ 'link_to' | i18n }} {{ social.name }}" target="_blank" rel="external">
        <i class="ri-{{ social.icon }} ri-2x"></i>
      </a>
    </li>
    {% endfor %}

  </ul>
</section>
<dl class="meta">
  <div>
    <dt>{{ 'name' | i18n }}</dt>
    <dd>{{ name }}</dd>
  </div>
  <div>
    <dt>{{ 'occupation' | i18n }}</dt>
    <dd>{{ role }}</dd>
  </div>
  <div>
    <dt>{{ 'degree' | i18n }}</dt>
    <dd>{{ degree }}</dd>
  </div>
  <div>
    <dt>{{ 'location' | i18n }}</dt>
    <dd>{{ location }}</dd>
  </div>
  <div>
    <dt>{{ 'current_tech' | i18n }}</dt>
    <div class="list">
      {% for tech in preferred_techs %}
          <dd>{{ tech }}</dd>
      {% endfor %}
    </div>
  </div>
  <div>
    <dt>{{ 'developing_experience' | i18n }}</dt>
    <dd>{{ experience | age }}+ {{ 'years' | i18n }}</dd>
  </div>
</dl>

<section class="markdown ">
	{{ content | safe }}
</section>