<!DOCTYPE html>
<html lang="{{ locale }}" dir="{{ dir }} >
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{{ meta }}">
	<link href="/base.css" rel="stylesheet">
  <link
    href="/assets/remixicon/remixicon.css"
    rel="stylesheet"
  />
  <script type="module" src="/assets/main.js" defer></script>
  <title>{{ title }}</title>
</head>
<body class="grid grid-rows-[auto_1fr_auto] grid-flow-row align-top">
  <header class="">
    {% include "nav.njk" %}
  </header>
  <main class=" mx-2 md:mx-16 sm:mx-8 lg:mx-32">
    {{ content | safe }}
  </main>
  <footer class="w-full">{% include "footer-nav.njk" %}</footer>
</body>
</html>