---
layout: layouts/base.njk
eleventyImport:
  collections: ["project"]
---

<div class="border-b-2 pb-12 border-zinc-400">
{{ content | safe }}
</div>

<ul class="divide-y-2 div divide-zinc-400">
	{%- for project in collections.project | reverse -%}
		{% if locale == project.data.locale %}
			<li>
				<section class="my-7 py-3 grid grid-flow-row">
					<header class="mb-3">
						<div class="flow items-center">
							<h3 class="m-0 inline-block">{{ project.data.name }}</h3>
							{% if project.data['company-website'] %}
								<a href="{{ project.data["company-website"] }}" target="_blank" rel="external">
									<span class="light clickable">
										{{ project.data.company }}
									</span>
								</a>
							{% elseif project.data.company %}
								<span class="light">{{ project.data.company }}</span>
							{% endif %}
						</div>
						{% if project.data.end %}
							<small>{{ (project.data.start or project.data.date).toLocaleDateString(format.date.locale, format.date.options) }} -  {{ project.data.end.toLocaleDateString(format.date.locale, format.date.options) }}</small>
						{% else %}
							<small>{{ 'since' | i18n }} {{ (project.data.start or project.data.date).toLocaleDateString(format.date.locale, format.date.options) }}</small>
						{% endif %}
					</header>
					<div class="markdown typewriter mb-7" data-typewriter-remove="{{ project.data.typewriter["remove-letters"] }}">{{ project.content | safe }}</div>
					<div class="grid gap-y-7 sm:grid-cols-[1fr_auto] content-center items-center">
						<small class="grow">
							<ul>
								{% for key in ['languages', 'frameworks', 'databases',  'tools', 'roles', 'other'] %}
									{% if project.data[key] %}
										<li class="grid grid-cols-[auto_1fr] gap-1 items-start">
											<span class="auto-cols-fr">{{ key | i18n }}:</span>
											<ul class="flex flex-row flex-wrap gap-x-1">
												{% for item in project.data[key] %}
													<li class="after:content-[','] last-of-type:after:content-[''] text-nowrap">{{ item }}</li>
												{% endfor %}
											</ul>
										</li>
									{% endif %}
								{%- endfor -%}
							</ul>
						</small>
						{% if project.data.links %}
							<div class="flex gap-4 sm:justify-self-end sm:mr-7">
								{% for link in project.data.links %}
									<a href="{{ link.link }}" target="_blank" rel="external" title="{{link.name}}" class="social-icon">
										{% if link.icon %}
											<i class="ri-{{ link.icon }} ri-xl"></i>
										{% elseif link.name | lower  == 'github' %}
											<i class="ri-github-fill ri-xl"></i>
										{% elseif link.name | lower  == 'gitlab' %}
											<i class="ri-gitlab-fill ri-xl"></i>
										{% elseif link.name | lower == 'npm' %}
											<i class="ri-npmjs-fill ri-xl"></i>
										{% elseif link.name | lower == 'website' %}
											<i class="ri-global-line ri-xl"></i>
										{% endif %}
									</a>
								{% endfor %}
							</div>
						{% endif %}
					</div >
				</section>
			</li>
		{% endif %}
	{%- endfor -%}
</ul>