---
title: Welcome
description: I am Wolfgang Rathgeb, a freelancing Software Engineer
layout: layouts/base.njk
---

<section class="">
  <div class="">
    <div class="">
      <h1 class="text-3xl font-bold underline">{{ title }}</h1>
      <h2 class="">{{ description }}</h2>
    </div>
  </div>
</section>